/*--------------------*\
BASE ELEMENT STYLES
\*--------------------*/

* {
	box-sizing: border-box;
}

body {
	font: 1em/1.5 'Open Sans', sans-serif;
	color: #373737;
	background: #eaeaea;
	margin: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

h2 {
	font-size: 1.125em;
	color: #4a89ca;
	font-weight: 600;
}
h3 {
	font-size: 0.875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
}
p {
	font-size:0.875em;
	line-height: 1.4;
	margin: 0 0 1.5em;
	height: 100px;
}



/*-----All ecternal links -----*/

a[href^="http"] {
	color: grey;
}



/*--------------------*\
BASE LAYOUT STYLES
\*--------------------*/

/* ----- Layout containers ----- */
.container {
	width: 94.02985075%;
	max-width: 1260px;
	background:#fff;
	margin: 0 auto;
}
.main-header {
	text-align: center;
	padding: 2.8em 0;
}
.photo-container{
	text-align: center;
	margin-bottom: 4em;
}

/* ----- Page elements ----- */

.name {
	font-size: 1.65em;
	font-weight: 900;
	margin: 0 0 1.5em;
	line-height: 1;
}

.name span {
	font-weight: 300;
	margin-left: -2.2px;
}
.logo {
	width: 45px;
	height: auto;
	margin-bottom: 0.4em;
}
.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
}
.photo-container img {
	max-width: 100%;
}

.button {
	width: 70%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	margin: 0 auto;
}


/* ----- Photo overlay ----- */
.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;	
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.85);
}

/* ----- Float Clearfix ----- */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}





/*--------------------*\
MEDIA QUERIES
\*--------------------*/

@media (min-width: 0) and (max-width: 768px) {
	.container {
		padding: 0 1.225em 2.5em;
	}
}
@media (min-width: 769px) {
	.container {
		padding: 0 2.225em 4em;
	}
	.photo-container {
		width: 48%;
		float: left;
		margin-left: 4%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.photo-container:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
}

@media (min-width: 1025px) {
	.photo-container {
		width: 30.63973064%;
	}
	.photo-container:nth-child(3n+1) {
		margin-left: 0;
		clear: left;
	}
}


/*--------------------*\
TRANSITIONS AND TRANSFORMS
\*--------------------*/


/*----- Button transition ----- */
.button {
	color: #4a89ca;
	border: 2px solid #4a89ca;
	border-radius: 1em;
	transition-property: background, color, border, border-radius;
	transition-duration: 0.5s; 
}

.button:hover {
	background: #4a89ca;
	color: #fff;
	border: 2px solid #4a89ca;
	border-radius: 1em;
}


.button:active {
	background: #183552;
	border: 2px solid #183552; 
}





/*----- Photo overlay transition ----- */
.photo-overlay {
	opacity: 0;
	transition-property: opacity; 
	transition-duration: 0.5s;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo {
	overflow: hidden;
}


.photo-container img {
	transform: scale(1.2);
}

.photo-container img:hover {
	transform: scale(1);
}